---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<div class="home-container">
		<Hero />
	</div>
</Layout>

<style>
	.home-container {
		height: 100vh;
		overflow: hidden;
		position: relative;
	}
</style>
