---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<div class="home-container">
		<Hero />
	</div>
</Layout>

<style>
	.home-container {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	@media (max-width: 768px) {
		.home-container {
			height: 100%;
		}
	}
</style>
