---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<div class="home-container">
		<Hero />
	</div>
</Layout>

<style>
	.home-container {
		flex: 1; /* Fill the main container */
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	@media (max-width: 768px) {
		.home-container {
			/* height: 100%; Removed redundant height */
		}
	}
</style>
