---

---
<div class="hero">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <!-- <div class="bg4"></div> -->
    <div class="inner">
        <header>
            <h1>A.J. Latocha</h1>
            <p>Passionate developer, not about a specific stack or a language<br /> but about constantly learning the wonderful world of code.</p>
        </header>
    </div>
</div>

<style>
    .hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        overflow: hidden;
    }

    .inner {
        padding: 2em;
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 3em;
        margin: 0 0 0.5em 0;
        color: #fff;
    }

    p {
        color: rgba(255, 255, 255, 0.75);
        font-size: 1.25em;
        line-height: 1.75;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }
</style>