---

---
<div class="hero">
    <div class="bg"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
    <div class="inner">
        <header>
            <h1>A.J. Latocha</h1>
            <p>Passionate developer, not about a specific stack or a language<br /> but about constantly learning the wonderful world of code.</p>
        </header>
    </div>
</div>