---
import '../styles/global.css'
---
<nav class="sticky-nav">
    <div class="nav-content">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </div>
  </nav>