---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import GtmHead from "../components/gtm-head.astro";
import GtmBody from "../components/gtm-body.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import icon from "../assets/images/code.png";

const isHomePage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={icon.src} />
        <meta name="generator" content={Astro.generator} />
        <title>A.J. Latocha</title>
        <GtmHead />
    </head>
    <body class={isHomePage ? "home-body" : ""}>
        <GtmBody />
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    .home-body {
        overflow: hidden;
        height: 100vh;
    }

    main {
        padding-top: 72px;
        min-height: calc(100vh - 72px);
        transition: padding-top 0.2s ease;
    }

    @media (max-width: 768px) {
        main {
            padding-top: 0;
            min-height: 100vh;
        }
    }
</style>
